.wp-main-container{
    max-width:850px;
    float: left;
}

.sptiles-outer{
	width:160px;height:160px;
}

.sptiles-inner{
	width: 150px; height: 150px;
}

.srchbox-container a.btn{
	border:1px solid gray;
	border-left:none;
	padding-right:5px;
	padding-left:0;
	margin-left:0;
	border:none;
}

.srchbox-container{
	padding:2px;
}

.srchbox-container input.srchPeople,.srchbox-container a.btn{
	float:left;
}
.srchbox-container input.srchPeople{
	border-right:none;
		border:none;
}

.srchbox-container a.btn:hover,.srchbox-container a.btn:link,.srchbox-container a.btn:visited{
	text-decoration:none;
	color:inherit;
	border:none;
}
.clearfix{
	clear:both;
}
/*hides useless ribbon tab*/
.ms-cui-tts{display:none;}
